@media screen and (max-width:800px) {
	.register_content .container {
		width: 70%;
		display: flex;
		flex-direction: column;
	}
}

#main-content {
	background-image: url(../imagenes/backgroundRegister.jpg);
}

.white{
	color:white;
}
.error{
	color:red;
}
.register_content {
	/*background-image: url("imagenes/backgroundRegister.jpg");*/
	width: 100%;
	height: auto;
	
}

.register_content .container {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0%;
	justify-content: center;
}

.register_content div {
	padding: 1% 4% 4% 4%;
}

#subscribe {
	color: white;
	position: absolute;
	top: 0px;
	width: 88%;
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189, 0.8);
	box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px
		rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
}

/**** general text styling ****/
.container h1 {
	text-align: center;
}

.editProfile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#addLanguage .soflow {
	width: 100% !important;
}

#wrapper h1 {
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

/** For the moment only webkit supports the background-clip:text; */
#wrapper h1 {
	color: #0B76A6;
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
}

#register p {
	margin: 0 2% 1.5em 2%;
}

#register {
	background: white;
}

#register .imgcontainer {
	width: 90%;
	margin: 0;
}

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
	background: url(../imagenes/flechita.png) no-repeat 96% 0;
	height: 29px;
	overflow: hidden;
	width: 240px;
}

.styled-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px;
	/* If you add too much padding here, the options won't show in IE */
	width: 268px;
}

.styled-select.slate {
	background: url(../imagenes/flechita.png) no-repeat right
		center;
	height: 34px;
	width: 240px;
}

.styled-select.slate select {
	border: 1px solid #ccc;
	font-size: 16px;
	height: 34px;
	width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.semi-square {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
	border: 0;
	color: #EEE;
	background: transparent;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 10px;
	width: 378px;
	/*
   *width: 350px;
   *background: #58B14C;
   */
	-webkit-appearance: none;
}

#mainselection {
	overflow: hidden;
	width: 350px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 9px 9px 9px 9px;
	box-shadow: 1px 1px 11px #330033;
	background: #58B14C url("../imagenes/flechita.png") no-repeat
		scroll 319px center;
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select.soflow, select#soflow-color {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(../imagenes/flechita.png),
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 1%;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 40%;
}

select#soflow-color {
	color: #fff;
	background-image: url(../imagenes/flechita.png),
		-webkit-linear-gradient(#779126, #779126 40%, #779126);
	background-color: #779126;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-left: 15px;
}

.buttonConfirmar {
	margin-left: 25%;
	margin-right: 25%;
	background-color: #4CAF50;
	padding: 2%;
	width: 200px;
}
.buttonConfirmarModificacionIdioma{

	background-color: #4CAF50;
	padding: 2%;
	width: 100px;
	
}

.delete_button2 {
	margin: 5%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #e74c3c;
	padding: 2%;
	width: 200px;
	margin-left: 25%;
}

.seccionBaja {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.nivel{
	padding: 1% !important;
    width: 40% !important;
    margin: 3% !important;
}
